.divImg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.Card{
    width: 300px;
    padding: 10px;
    height:   100% !important;
    overflow: hidden;
    transition: .2s;

}
.CardButton{
    width: 250px;
    height: 40px;
}
.div{
    width: 150px;
    height: 70px;
    transform: rotate(-45deg);
    background: green;
    margin-left: -60px ;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}
h1{
    margin-left: 110px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.divHome{
    margin-left: 110px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.Card:hover{
    box-shadow: 1px 1px 15px 3px dimgray;
}
.cont{
    margin-left: 20px;
}